// Styling for the contact section
section#experiments {
    background: 
        linear-gradient(
            rgb(52, 58, 64),
            rgba(33, 37, 41, 0.46))
        , url('../img/experiments.jpg');
    .section-heading {
        color: $white;
    }

    .portfolio-link {
        color: $brand!important;
        text-decoration: underline;
        font-size: .8em;
    }
    
    .text-muted {
        color: $brand!important;
        // color: $white;
    }
    .section-heading, .show-more, .skill-heading, .text-muted {
        color: $white;
    }
    
}
