// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

/*$primary: #1c626f !default;*/
/*$primary: #39a2b8 !default;*/
/*$primary: #356da9 !default;*/
/*$primary: #39a2b8 !default;*/
$primary: #6289b1 !default;
$brand: #ddd !default;

$closebtnPX: 75px;
$closebtnPXsm: 20px;

/*$link: #ffc107;*/
$link: $primary;

// Rinosnet
$rn-primary: #dc3545;
$rn-primary-rgba: rgba(220, 53, 69, 0.93);

// Supermas
$supm-primary: #ffc107;
$supm-primary-rgba: rgba(255, 193, 7, 0.93);

// TeamVision
/*$tv-primary: #ffc107;*/
$tv-primary-rgba: rgba(28,98,111,.9);

// eVision
/*$evis-primary: #ffc107;*/
$evis-primary-rgba: rgba(25,95,154,.93);

// EquipoVision
/*$ev-primary: #ffc107;*/
$ev-primary-rgba: rgba(55, 143, 62, 0.93);

// ISI
/*$isi-primary: #ffc107;*/
$isi-primary-rgba: rgba(96, 117, 158, 0.93);


