doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title Paulo Ruvalcaba - Portfolio
        // Bootstrap core CSS
        link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Custom fonts for this template
        link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        //- link(href='https://fonts.googleapis.com/css?family=Avenir:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
        // Custom styles for this template
        link(href='css/myprofile.min.css', rel='stylesheet')
    body#page-top
        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') Paulo Ruvalcaba
                //- a.navbar-brand.js-scroll-trigger( href="#page-top")
                    i.fa.fa-home
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    i.fa.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#aboutme') About
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#skills') Skills
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#experiments') Experiments
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact
        // Header
        header.masthead.d-print-none
            //- .container
                .intro-text
                .intro-lead-in Sr. Software Engineer
                .intro-heading text-uppercase Paulo C Ruvalcaba
                a.btn.btn-primary.btn-xl.js-scroll-trigger( href="#skills") Paulo's Skills
            .header
                .content-wrapper
                    //- h1 Paulo C Ruvalcaba
                    h2 Sr. Software Engineer
        // About Me
        section#aboutme.bg-light
            .container
                .row.d-none.d-print-block.text-left.text-primary
                    h1 Paulo Ruvalcaba
                    h4 Sr. Software Engineer
                    h5 pcesarmx@hotmail.com
                .row
                    .col-lg-12.text-center
                        //- h2.section-heading.text-uppercase about me
                        //- h3.section-subheading.text-muted I love to make people happy and their life easy using software.
                .row
                    .col-sm-4
                        .img-about-me
                            a(href='http://www.udg.mx/en/welcome-university-guadalajara', target='_blank')
                                img.mx-auto.rounded-circle(src='img/profile/udg.jpg', alt='')
                            h4 University of Guadalajara
                            p.text-muted B.S. in Computer Science
                    .col-sm-4
                        .img-about-me
                            img.mx-auto.rounded-circle(src='img/profile/paulo.png', alt='')
                            //- img.mx-auto.rounded-circle(src='https://media.licdn.com/dms/image/C5603AQEJ7QGX5TRCJA/profile-displayphoto-shrink_200_200/0?e=1538611200&v=beta&t=q9St1d82wBuR2OnBVtOtppNJXJ2RRtMDTMUGWIvEpj8', alt='')
                            //- h4
                            //- p.text-muted Me
                            br
                            br
                            br
                            ul.list-inline.social-buttons
                                li.list-inline-item
                                    a(href='https://github.com/pcesarmx', target='_blank')
                                        i.fa.fa-github
                                li.list-inline-item
                                    a(href='https://www.facebook.com/paulo.ruvalcaba', target='_blank')
                                        i.fa.fa-facebook
                                li.list-inline-item
                                    a(href='https://www.linkedin.com/in/paulo-ruvalcaba-04390962', target='_blank')
                                        i.fa.fa-linkedin
                    .col-sm-4
                        .img-about-me
                            a(href='http://www.reedleycollege.edu', target='_blank')
                                img.mx-auto.rounded-circle(src='img/profile/reedleycollege2.png', alt='')
                            h4 Reedley College
                            p.text-muted English as Second Language
                    //- .col-sm-4
                        .img-about-me
                            a( href="http://www.cucei.udg.mx", target="_blank")
                                img.mx-auto.rounded-circle( src="img/profile/cucei.png", alt="")
                            h4 Campus of
                            p.text-muted Exact Sciences and Engineering

                //- .row
                    .offset-sm-4.col-sm-4"
                        .img-about-me
                            a(href="http://www.reedleycollege.edu", target="_blank")
                                img.mx-auto.rounded-circle(src="img/profile/reedleycollege2.png", alt="")
                            h4 Reedley College
                            p.text-muted English as Second Language

                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted I am from &nbsp;
                            a(href="https://en.wikipedia.org/wiki/Guadalajara" target="_blank") Guadalajara Mexico.
                            | &nbsp;I obtained my degree in Computer Science in 2006 from the University of Guadalajara. Then, I started my professional career working as a full-time Computer Programmer for Financial Institutions.
                            | I moved to the U.S.A in 2010. I attended Reedley College to improve my English language skills. I also took several computer classes and joined the Reedley College PC Club. Since 2011 I am continuing working as Full-Stack Computer Programmer for private companies in &nbsp;
                            a(href="https://en.wikipedia.org/wiki/Fresno,_California" target="_blank") Fresno, CA.
                        //- p.large.text-muted
                            | I am happily married and currently living in Fresno, CA. On my free time I enjoy playing video games, hanging out with friends and family, going out to dinner and movies with my wife and research about new tech concepts.
        // Portfolio Grid
        section#portfolio.d-print-none
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading.text-uppercase Portfolio
                        //- h3.section-subheading.text-muted Some of the work I have done since 2007
                        //- .show-more Click on each picture to see more details.
                .row
                    .col-md-4.portfolio-item
                        a.portfolio-link(data-toggle='modal', href='#portfolioModal7')
                            .portfolio-hover.portfolio-hover-derco
                                .portfolio-hover-content
                                    //- i.fa.fa-plus.fa-3x
                            img.fixed-img.img-fluid(src='img/portfolio/07-thumbnail.png', alt='')
                        .portfolio-caption
                            h4 Supplier/Trading firm
                            p.text-muted Mobile App Develompment
                    .col-md-4.portfolio-item
                        a.portfolio-link.portfolio-link-main(data-toggle='modal', href='#portfolioModal3')
                            .portfolio-hover.portfolio-hover-ev
                                .portfolio-hover-content
                                    //- i.fa.fa-plus.fa-3x
                            img.img-fluid.img-main(src='img/portfolio/03-thumbnail.jpg', alt='')
                        .portfolio-caption.portfolio-caption-main
                            h4 Multi Level Marketing
                            p.text-muted Sr. Software Engineer
                    .col-md-4.portfolio-item
                        a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
                            .portfolio-hover.portfolio-hover-rn
                                .portfolio-hover-content
                                    //- i.fa.fa-plus.fa-3x
                            img.fixed-img.img-fluid(src='img/portfolio/01-thumbnail.jpg', alt='')
                        .portfolio-caption
                            h4 Multi Level Marketing
                            p.text-muted Full-Stack Develompment
                .row
                    .col-md-3
                    .col-md-6.portfolio-item
                        span.text-center.align-middle
                            //- i.fa.fa-5x.fa-star-o
                        //- h6 Click on the pictures to see details.
                        //- h6 Work that shows some of my computer programming experience
                    .col-md-4.col-sm-6.portfolio-item
                        a.portfolio-link(data-toggle='modal', href='#portfolioModal2')
                            .portfolio-hover.portfolio-hover-tv
                                .portfolio-hover-content
                                    //- i.fa.fa-plus.fa-3x
                            img.img-fluid(src='img/portfolio/02-thumbnail.jpg', alt='')
                        .portfolio-caption
                            h4 Online Training
                            p.text-muted Full-Stack Develompment
                    //- .col-md-4.col-sm-6.portfolio-item
                        a.portfolio-link(data-toggle='modal', href='#portfolioModal3')
                            .portfolio-hover.portfolio-hover-ev
                                .portfolio-hover-content
                                    //- i.fa.fa-plus.fa-3x
                            img.img-fluid(src='img/portfolio/03-thumbnail.jpg', alt='')
                        .portfolio-caption
                            h4 Multi Level Marketing
                            p.text-muted Sr. Software Engineer
                    .col-md-4.col-sm-6.portfolio-item
                        a.portfolio-link(data-toggle='modal', href='#portfolioModal4')
                            .portfolio-hover.portfolio-hover-supm
                                .portfolio-hover-content
                                    //- i.fa.fa-plus.fa-3x
                            img.img-fluid(src='img/portfolio/04-supermas-thumbnail.jpg', alt='')
                        .portfolio-caption
                            h4 Retail Stores
                            p.text-muted POS Hardware Interface
                    .col-md-4.col-sm-6.portfolio-item
                        a.portfolio-link(data-toggle='modal', href='#portfolioModal5')
                            .portfolio-hover.portfolio-hover-evis
                                .portfolio-hover-content
                                    //- i.fa.fa-plus.fa-3x
                            img.img-fluid(src='img/portfolio/05-thumbnail.jpg', alt='')
                        .portfolio-caption
                            h4 Audio Distribution
                            p.text-muted Full Development - Mobile
                    .col-md-4.col-sm-6.portfolio-item
                        a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
                            .portfolio-hover.portfolio-hover-isi
                                .portfolio-hover-content
                                    //- i.fa.fa-plus.fa-3x
                            img.img-fluid(src='img/portfolio/06-thumbnail.jpg', alt='')
                        .portfolio-caption
                            h4 IT Services
                            p.text-muted Jr. Software Enginier
                    //- .col-md-4.col-sm-6.portfolio-item
                        a.portfolio-link(data-toggle='modal', href='#portfolioModal7')
                            .portfolio-hover
                                .portfolio-hover-content
                                    //- i.fa.fa-plus.fa-3x
                            img.img-fluid(src='img/portfolio/07-thumbnail.jpg', alt='')
                        .portfolio-caption
                            h4 Non Profit Organiz   sssation.
                            p.text-muted Full-Stack Development
        // Skills
        section#skills
            .container.no-selectable
                .row
                    .col-lg-12.text-center
                        h2.section-heading.text-uppercase Skills
                        //- h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                        //- small#showAllLbl.show-more(aria-expanded="false" data-toggle="collapse" onClick="toggleAllSkills(this)") view / hide all details
                        small#showAllLbl.show-more(aria-expanded="false" onClick="window.toggleAllSkills(this)") view all details
                            i.fa.fa-plus-circle.ml-1
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-gears.fa-stack-1x.fa-inverse

                        h4.skill-heading WEB BACKEND
                        small.show-more(data-toggle="collapse" data-target="#collapseBackend" aria-expanded="false" aria-controls="collapseBackend")
                            i.fa.fa-2x.fa-plus-circle.ml-1
                        p.text-muted
                            ul.text-left.text-muted.collapse(id="collapseBackend")
                                li Nodejs Express
                                li C# Web Services
                                li JAVA Servlets & EJB
                                li Python DJango
                                li
                                    | APIs:
                                    ul
                                        li Authorize.net
                                        li Twilio
                                        li Avatax
                                        li Netsuite
                                        li Quickbooks Online
                                        li Easy Post
                                        li UPS
                                        li OneSignal
                                        li Retail OPOS
                                        li Custom SOAP, RESTFUL, JSON, XML
                                        li Socket IO
                                        li G-Mail
                                li SWAGGER -AWS Lambda functions
                                li Netsuite Restlets
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-address-card-o.fa-stack-1x.fa-inverse
                        h4.skill-heading WEB FRONTEND
                        small.show-more(data-toggle="collapse" data-target="#collapseFrontend" aria-expanded="false" aria-controls="collapseFrontend")
                            i.fa.fa-2x.fa-plus-circle.ml-1
                        p
                            ul.text-left.text-muted.collapse(id="collapseFrontend")
                                li AngularJS
                                li EmberJS
                                li WebIX
                                li JavaScript
                                li Bootstrap
                                li HTML5, CSS
                                li SASS
                                li JQuery
                                li JSP
                                li JADE
                                li AJAX
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-database.fa-stack-1x.fa-inverse
                        h4.skill-heading DATABASES
                        small.show-more(data-toggle="collapse" data-target="#collapseDB" aria-expanded="false" aria-controls="collapseDB")
                            i.fa.fa-2x.fa-plus-circle.ml-1
                        p
                            ul.text-left.text-muted.collapse(id="collapseDB")
                                li Sql Server
                                li MySql & MySql Aurora
                                li Oracle
                                li Firebase
                                li MongoDB
                                li DB2
                                li PL-SQL
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-desktop.fa-stack-1x.fa-inverse
                        h4.skill-heading DESKTOP APPLICATIONS
                        small.show-more(data-toggle="collapse" data-target="#collapseDesktop" aria-expanded="false" aria-controls="collapseDesktop")
                            i.fa.fa-2x.fa-plus-circle.ml-1
                        p
                            ul.text-left.text-muted.collapse(id="collapseDesktop")
                                li C#
                                li Visual Basic
                                li JAVA
                                li WPF
                                li C/C++
                                li XtraReports, Crystal Reports
                                li ADO .NET, JDBC
                                li ClickOnce Apps
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-mobile.fa-stack-1x.fa-inverse
                        h4.skill-heading MOBLIE APPS
                        small.show-more(data-toggle="collapse" data-target="#collapseMobile" aria-expanded="false" aria-controls="collapseMobile")
                            i.fa.fa-2x.fa-plus-circle.ml-1
                        p
                            ul.text-left.text-muted.collapse(id="collapseMobile")
                                li Ionic
                                li jQuery Mobile
                                li Responsive WEB Design
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-cloud.fa-stack-1x.fa-inverse
                        h4.skill-heading Amazon Web Services AWS
                        small.show-more(data-toggle="collapse" data-target="#collapseAWS" aria-expanded="false" aria-controls="collapseAWS")
                            i.fa.fa-2x.fa-plus-circle.ml-1
                        p
                            ul.text-left.text-muted.collapse(id="collapseAWS")
                                li
                                    | Elastic Compute Cloud (EC2)
                                    ul
                                        li Auto Scaling
                                        li Security Groups
                                        li Custom AMIs - Amazon Machine Images
                                li
                                    | Relational Database Service (RDS)
                                    ul
                                        li Cluster DB Replication
                                        li Cross-Region Replicas
                                        li Lambda Triggers from Aurora DB
                                        li Parameter Groups
                                li ElastiCache
                                li Elastic Load Balancing
                                li Elastic Beanstalk
                                li
                                    | S3
                                    ul
                                        li Static Assets
                                        li Dynamic Links Generation
                                        li Hosting Static Sites
                                li Lambda Functions
                                li Gateway API
                                li Device Farm
                                li CloudFront
                                li Database Migration Service
                                li Identity and Access Management (IAM)
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-space-shuttle.fa-stack-1x.fa-inverse
                        h4.skill-heading DEPLOYING
                        small.show-more(data-toggle="collapse" data-target="#collapseDeploy" aria-expanded="false" aria-controls="collapseDeploy")
                            i.fa.fa-2x.fa-plus-circle.ml-1
                        p.text-muted
                            ul.text-left.text-muted.collapse(id="collapseDeploy")
                                li AWS
                                li Heroku
                                li iTunes Connect
                                li Google Play
                                li DNS
                                li LoadBalancing
                                li Database Cluster & Replication
                                li
                                    | Servers:
                                    ul
                                        li NGINX
                                        li Apache Server
                                        li Tomcat
                                        li WebLogic
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-lock.fa-stack-1x.fa-inverse
                        h4.skill-heading SECURITY
                        small.show-more(data-toggle="collapse" data-target="#collapseSec" aria-expanded="false" aria-controls="collapseSec")
                            i.fa.fa-2x.fa-plus-circle.ml-1
                        p
                            ul.text-left.text-muted.collapse(id="collapseSec")
                                li SSL / TLS
                                li PCI Compilance (PCI DSS)
                                li SSH, SFTP
                                li AWS Polices
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-wrench.fa-stack-1x.fa-inverse
                        h4.skill-heading OTHER
                        small.show-more(data-toggle="collapse" data-target="#collapseOther" aria-expanded="false" aria-controls="collapseOther")
                            i.fa.fa-2x.fa-plus-circle.ml-1
                        p
                            ul.text-left.text-muted.collapse(id="collapseOther")
                                li Grunt, Gulp
                                li BASH, SSH
                                li AWS CLI, Heroku CLI
                                li Ember-CLI, Angular-CLI
                                li JSHint
                                li GIT, SVN, Bazaar
                                li MAC, Windows, Linux, Solaris
                                li
                                    | Eclipse, NetBeans, Visual Studio, Sublime Text, SQL Management Studio, MySql Workbentch, Oracle SQL Developer, Aquadata Studio

        section#experiments.d-print-none
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading.text-uppercase Experiments
                        h4.section-subheading.text-muted Unity 2d Game Basic Concepts
                .row
                    .col-md-3
                    .col-md-6.portfolio-item
                        a.portfolio-link.portfolio-link-main(target="_blank" href="http://webgl1.paulocr.com")
                            img.img-fluid.img-main(src='https://raw.githubusercontent.com/pcesarmx/unity-test2d/master/Previews/preview3.png', alt='')
                        hr
                        .row
                            .col-6
                                h4
                                    a.portfolio-link.portfolio-link-main(target="_blank" href="http://webgl2.paulocr.com") Demo
                            .col-6.text-right
                                h4
                                    a.portfolio-link.portfolio-link-main(target="_blank" href="https://github.com/pcesarmx/unity-test2d") Repository
                .row.mt-4
                    .col-lg-12.text-center
                        //- h2.section-heading.text-uppercase Experiments
                        h4.section-subheading.text-muted Unity 3d Basics
                .row
                    .col-md-3
                    .col-md-6.portfolio-item
                        a.portfolio-link.portfolio-link-main(target="_blank" href="http://webgl1.paulocr.com")
                            img.img-fluid.img-main(src='https://raw.githubusercontent.com/pcesarmx/unity-3d/master/Previews/preview1.png', alt='')
                        hr
                        .row
                            .col-6
                                h4
                                    a.portfolio-link.portfolio-link-main(target="_blank" href="http://webgl1.paulocr.com") Demo
                            .col-6.text-right
                                h4
                                    a.portfolio-link.portfolio-link-main(target="_blank" href="https://github.com/pcesarmx/unity-3d") Repository
                .row.mt-4
                    .col-lg-12.text-center
                        h4.section-subheading.text-muted AWS Lambda &amp; API Gateway - Serverless API
                .row
                    .col-md-3
                    .col-md-6.portfolio-item
                        a.portfolio-link.portfolio-link-main(target="_blank" href="https://github.com/pcesarmx/api")
                            img.img-fluid.img-main(src='https://raw.githubusercontent.com/pcesarmx/portfolio-api/master/assets/preview4.png', alt='')
                        hr
                        .row
                            //- .col-6
                                h4
                                    a.portfolio-link.portfolio-link-main(target="_blank" href="http://webgl1.paulocr.com") Demo
                            .col-12.text-right
                                h4
                                    a.portfolio-link.portfolio-link-main(target="_blank" href="https://github.com/pcesarmx/api") Repository

        // Contact
        section#contact.d-print-none
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading.text-uppercase Contact Me
                        //- h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                    .col-lg-12.text-center
                        ul.list-inline.social-buttons
                            li.list-inline-item
                                a( href="https://github.com/pcesarmx", target="_blank")
                                    i.fa.fa-github
                            li.list-inline-item
                                a( href="https://www.facebook.com/paulo.ruvalcaba", target="_blank")
                                    i.fa.fa-facebook
                            li.list-inline-item
                                a( href="https://www.linkedin.com/in/paulo-ruvalcaba-04390962", target="_blank")
                                    i.fa.fa-linkedin
                    //- .col-lg-12.text-center
                        h3.section-subheading.text-muted.text-right &nbsp; Thank you in advance.
                //- .row
                    .col-lg-12
                        form#contactForm(name='sentMessage', novalidate='')
                            .row
                                .col-md-6
                                    .form-group
                                        input#name.form-control(type='text', placeholder='Your Name *', required='', data-validation-required-message='Please enter your name.')
                                        p.help-block.text-danger
                                    .form-group
                                        input#email.form-control(type='email', placeholder='Your Email *', required='', data-validation-required-message='Please enter your email address.')
                                        p.help-block.text-danger
                                    .form-group
                                        input#phone.form-control(type='tel', placeholder='Your Phone *', required='', data-validation-required-message='Please enter your phone number.')
                                        p.help-block.text-danger
                                .col-md-6
                                    .form-group
                                        textarea#message.form-control(placeholder='Your Message *', required='', data-validation-required-message='Please enter a message.')
                                        p.help-block.text-danger
                                .clearfix
                                .col-lg-12.text-center
                                    #success
                                    button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase(type='submit') Send Message
        // Footer
        footer
            .container
                .row
                    .col-md-6
                        span.copyright Copyright © Paulo Ruvlacaba 2018
                    .col-md-6
                        ul.list-inline.social-buttons
                            li.list-inline-item
                                a(href='https://github.com/pcesarmx', target='_blank')
                                    i.fa.fa-github
                            li.list-inline-item
                                a(href='https://www.facebook.com/paulo.ruvalcaba', target='_blank')
                                    i.fa.fa-facebook
                            li.list-inline-item
                                a(href='https://www.linkedin.com/in/paulo-ruvalcaba-04390962', target='_blank')
                                    i.fa.fa-linkedin
                    //- .col-md-4
                        ul.list-inline.quicklinks
                            li.list-inline-item
                                a( href="#") Privacy Policy

                            li.list-inline-item
                                a( href="#") Terms of Use
        // Portfolio Modals
        // Modal 1
        #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        .lr
                            .rl
                    .container
                        .row
                            .col-lg-12.mx-auto
                                .modal-body
                                    // Project Details Go Here
                                    //- h2.text-uppercase PJ NAME
                                    p.item-intro.text-muted Web Based Business Solution
                                    //- img.img-fluid.d-block.mx-auto( src="img/portfolio/01-full.jpg", alt="")
                                    #rnCarousel.carousel.slide(data-ride='carousel')
                                        ol.carousel-indicators.carousel-indicators-rn
                                            li.active(data-target='#rnCarousel', data-slide-to='0')
                                            li(data-target='#rnCarousel', data-slide-to='1')
                                            li(data-target='#rnCarousel', data-slide-to='2')
                                            li(data-target='#rnCarousel', data-slide-to='3')
                                            li(data-target='#rnCarousel', data-slide-to='4')
                                            li(data-target='#rnCarousel', data-slide-to='5')
                                            li(data-target='#rnCarousel', data-slide-to='6')
                                            li(data-target='#rnCarousel', data-slide-to='7')
                                            li(data-target='#rnCarousel', data-slide-to='8')
                                            li(data-target='#rnCarousel', data-slide-to='9')
                                            li(data-target='#rnCarousel', data-slide-to='10')
                                            li(data-target='#rnCarousel', data-slide-to='11')
                                            li(data-target='#rnCarousel', data-slide-to='12')
                                            li(data-target='#rnCarousel', data-slide-to='13')
                                        .carousel-inner(role='listbox')
                                            .carousel-item.active
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/01-rinos-slide-1.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/01-rinos-slide-2.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/01-rinos-slide-3b.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/01-rinos-slide-3.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/01-rinos-slide-4.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/01-rinos-slide-5.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/01-rinos-slide-6.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/01-rinos-slide-7.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/01-rinos-slide-8.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/01-rinos-slide-9.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/01-rinos-slide-10.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/01-rinos-slide-11.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/01-rinos-slide-12.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/01-rinos-slide-13.jpg', alt='')
                                        a.carousel-control-prev(href='#rnCarousel', role='button', data-slide='prev')
                                            //- span.carousel-control-prev-icon( aria-hidden="true")
                                            span.sr-only Previous
                                            i.fa.fa-2x.fa-angle-left.slider-nav-rn(aria-hidden='true')
                                        a.carousel-control-next(href='#rnCarousel', role='button', data-slide='next')
                                            //- span.carousel-control-next-icon( aria-hidden="true")
                                            span.sr-only Next
                                            i.fa.fa-2x.fa-angle-right.slider-nav-rn(aria-hidden='true')
                                    p
                                        | This is a web based solution that integrates many subsistems in the same project:
                                        ul
                                            li.text-left
                                                b Ecommerce:
                                                |  Allowing the customers to buy products the company offers and supporting a commision model based on points, also supporting consignment sales and payments, reports, account management.
                                            li.text-left
                                                b Custom Back-Office Module:
                                                |  Symplyfiying the business process, sucj as inventory managment, event planning, reports, customer service, process payments, process orders.
                                            li.text-left
                                                b Web Point Of Sale:
                                                |  Allowing to sell physical inventory on the events (Seminars, Conventions) the company is having around the U.S.A.
                                            li.text-left
                                                b Accounting System Integartion:
                                                |  Integration in real time with Intuit QuickBooks in a bidirectional way to symplify the information flow.
                                            li.text-left
                                                b Compensation Formula:
                                                |  Calculate in realtime the bonification amounts for each memeber on the organization based on a MLM model and customized company validations.
                                            li.text-left
                                                b Web Order Fulfillment:
                                                |  A web module that allow the wharehouse personel to send the ecomerce orders by purchasing and generating shipping labels (UPS) in a fast way to process the orders and update the status of the orders.
                                    p
                                    h4.item-intro.text-muted Acomplisments:
                                    ol
                                        li.text-left
                                            | Rinosnet successfully replace the old solution (Wordpress platform) having all the customizations the buisness model (MLM) requieres.
                                        li.text-left
                                            | Customer satisfaction by having more options and flexibility to buy, track orders, having the information acurated without necesity to call customer service, hanving the tools to measure the volume of the oders that a Multi Level Marketing (MLM) business requieres.
                                        li.text-left
                                            | Cleaned the complexity of the work in a regular bases, for example to process payments (Net D) can be easyly approved or rejected by a simple click having the information in real time in all the deparmets including the customer side.
                                        li.text-left
                                            | Simplifiying financial transactions by communicating all the deparments with Accounting deparment (QuickBooks Online).
                                        li.text-left
                                            | Saving money by using a web based Point Of Sale (POS) by usng smartphones, tablets, and laptops instead of CreditCard teminals. Also simplyfiying the maintenance hanving POS system centralized on a web server and decreasing considerably the amount of technical support over the country.
                                        li.text-left
                                            | "The Compensation Formula" has implemented on RINOSNET to compensate the members on the organization (by bonus checks).
                                        li.text-left
                                            | Less data redundancy having communication between the systems in a bi-directioanl way and not having the same information on many systems/databases so, Rinosnet gets/push the information from/to the right source.
                                        li.text-left
                                            | The fullfilment system became more fexible (portable) by using tablets on the warehouse instead of having the employess work on an stationary computer and bring large amount of inventory close to the terminals and also preventing accidents by doing that.
                                        li.text-left
                                            b
                                                | Rinosnet was built "from scratch" covering all the requeriments and all the hight expetations the users and customers had at the time.
                                    p
                                    p
                                    h4.item-intro.text-muted Development Specifications:
                                    ul
                                        li.text-left
                                            b APIs:
                                            |  UPS, Twilio, Avatax, QuickBooks, Authorize.net, Amway Custom End Point, G-mail services, AWS S3.
                                        li.text-left
                                            b Programming Languages:
                                            |  NodeJS, HTML5, Twitter Bootstrap, AngularJS 1.6, MySql Aurora, Google Firebase, GRUNT
                                        li.text-left
                                            b Deploy:
                                            |  AWS Elastic Beanstalk, Cloud Front, NameCheap DNS, AWS RDS

                                    p
                                    ul.list-inline
                                        li
                                            | Date:
                                            i August 2017
                                        li
                                            | Client:
                                            i Rinosnet Corporation, LLC
                                        li
                                            | Location:
                                            i Fresno, CA U.S.A
                                        li
                                            | Category:
                                            i Multilevel Marketing (MLM)
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fa.fa-times
                                        |                     Close
        // Modal 2
        #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        .lr
                            .rl
                    .container
                        .row
                            .col-lg-12.mx-auto
                                .modal-body
                                    // Project Details Go Here
                                    //- h2.text-uppercase PJ NAME
                                    p.item-intro.text-muted WEB ACADEMY
                                    //- img.img-fluid.d-block.mx-auto( src="img/portfolio/01-full.jpg", alt="")
                                    #acCarousel.carousel.slide(data-ride='carousel')
                                        ol.carousel-indicators.carousel-indicators-tv
                                            li.active(data-target='#acCarousel', data-slide-to='0')
                                            li(data-target='#acCarousel', data-slide-to='1')
                                            li(data-target='#acCarousel', data-slide-to='2')
                                            li(data-target='#acCarousel', data-slide-to='3')
                                            li(data-target='#acCarousel', data-slide-to='4')
                                            li(data-target='#acCarousel', data-slide-to='5')
                                            li(data-target='#acCarousel', data-slide-to='6')
                                            li(data-target='#acCarousel', data-slide-to='7')
                                            li(data-target='#acCarousel', data-slide-to='8')
                                            li(data-target='#acCarousel', data-slide-to='9')
                                            li(data-target='#acCarousel', data-slide-to='10')
                                            li(data-target='#acCarousel', data-slide-to='11')
                                            li(data-target='#acCarousel', data-slide-to='12')
                                            li(data-target='#acCarousel', data-slide-to='13')
                                        .carousel-inner(role='listbox')
                                            .carousel-item.active
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/02-academy-slide-1.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/02-academy-slide-2.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/02-academy-slide-3.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/02-academy-slide-4.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/02-academy-slide-5.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/02-academy-slide-5b.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/02-academy-slide-5c.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/02-academy-slide-6.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/02-academy-slide-7.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/02-academy-slide-8.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/02-academy-slide-9.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/02-academy-slide-10.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/02-academy-slide-11.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/02-academy-slide-12.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/02-academy-slide-13.jpg', alt='')
                                        a.carousel-control-prev(href='#acCarousel', role='button', data-slide='prev')
                                            //- span.carousel-control-prev-icon( aria-hidden="true")
                                            span.sr-only Previous
                                            i.fa.fa-2x.fa-angle-left.slider-nav-tv(aria-hidden='true')
                                        a.carousel-control-next(href='#acCarousel', role='button', data-slide='next')
                                            //- span.carousel-control-next-icon( aria-hidden="true")
                                            span.sr-only Next
                                            i.fa.fa-2x.fa-angle-right.slider-nav-tv(aria-hidden='true')
                                    p
                                        | "ACADEMY" is a web based learning portal
                                        ul
                                            li.text-left
                                                b Multimedia Content
                                                |  Hundreds of videos, audios and other material.
                                            li.text-left
                                                b Live Radio
                                                |  Supporting 50,000 active listeners.
                                            li.text-left
                                                b Interactive Web
                                                | Driving all users to differents learning paths and keeping the progress measure by interactive test and challenges.
                                            li.text-left
                                                b Back Office Modules:
                                                |  Order fullfilment and printing of shipping labels.
                                            li.text-left
                                                b Payment processing:
                                                |  Business Cards and memberships.
                                            li.text-left
                                                b Bilingual Web:
                                                |  Having independing content by brand "EquipoVision" and "TeamVision".
                                            li.text-left
                                                b Web Order Fulfillment:
                                                |  Web module that allows to the wharehouse staff to contol the order fullfilment and buy shipping labels (USPS - EasyPost) in realtime.
                                    p
                                    h4.item-intro.text-muted Acomplisments:
                                    ol
                                        li.text-left
                                            | The company creates a new tool that helps in the customer growing as the main goal.
                                        li.text-left  Helping the company to groth in image and services provided to the customers.
                                        li.text-left  The sponsoring process has been siplyfy at least 10 times faster.
                                        li.text-left  Customer loyality.
                                        li.text-left  It generates a branch to generate proffit in the company.
                                    p
                                    p
                                    h4.item-intro.text-muted Development Specifications:
                                    ul
                                        li.text-left
                                            b APIs:
                                            |  Easypost, Twilio, Avatax, Netsuite, Authorize.net, Amway Custom End Point, G-mail services, AWS S3, Vimeo.
                                        li.text-left
                                            b Programming Languages:
                                            |  NodeJS, HTML5, Twitter Bootstrap, AngularJS 1.6, MySql Aurora, Google Firebase, GRUNT
                                        li.text-left
                                            b Deploy:
                                            |  AWS Elastic Beanstalk, Cloud Front, Godaddy (DNS), AWS RDS

                                    p
                                    ul.list-inline
                                        li
                                            | Date:
                                            i February 2017
                                        li
                                            | Client:
                                            i Signature EquipoVision, LLC
                                        li
                                            | Location:
                                            i Fresno, CA U.S.A
                                        li
                                            | Category:
                                            i Multilevel Marketing (MLM)
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fa.fa-times
                                        |                     Close
        // Modal 3
        #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        .lr
                            .rl
                    .container
                        .row
                            .col-lg-12.mx-auto
                                .modal-body
                                    // Project Details Go Here
                                    //- h2.text-uppercase PJ NAME
                                    p.item-intro.text-muted EquipoVision Systems
                                    //- img.img-fluid.d-block.mx-auto( src="img/portfolio/01-full.jpg", alt="")
                                    #sevCarousel.carousel.slide(data-ride='carousel')
                                        ol.carousel-indicators.carousel-indicators-ev
                                            li.active(data-target='#sevCarousel', data-slide-to='0')
                                            li(data-target='#sevCarousel', data-slide-to='1')
                                            li(data-target='#sevCarousel', data-slide-to='2')
                                            li(data-target='#sevCarousel', data-slide-to='3')
                                            li(data-target='#sevCarousel', data-slide-to='4')
                                            li(data-target='#sevCarousel', data-slide-to='5')
                                            li(data-target='#sevCarousel', data-slide-to='6')
                                            li(data-target='#sevCarousel', data-slide-to='7')
                                            li(data-target='#sevCarousel', data-slide-to='8')
                                            li(data-target='#sevCarousel', data-slide-to='9')
                                            li(data-target='#sevCarousel', data-slide-to='10')
                                            li(data-target='#sevCarousel', data-slide-to='11')
                                            li(data-target='#sevCarousel', data-slide-to='12')
                                            li(data-target='#sevCarousel', data-slide-to='13')
                                            li(data-target='#sevCarousel', data-slide-to='14')
                                        .carousel-inner(role='listbox')
                                            .carousel-item.active
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/03-sev-slide-1a.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/03-sev-slide-1.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/03-sev-slide-2.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/03-sev-slide-3.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/03-sev-slide-4.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/03-sev-slide-5.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/03-sev-slide-6.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/03-sev-slide-7.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/03-sev-slide-8.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/03-sev-slide-9.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/03-sev-slide-10.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/03-sev-slide-11.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/03-sev-slide-12.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/03-sev-slide-13.jpg', alt='')
                                        a.carousel-control-prev(href='#sevCarousel', role='button', data-slide='prev')
                                            //- span.carousel-control-prev-icon( aria-hidden="true")
                                            span.sr-only Previous
                                            i.fa.fa-2x.fa-angle-left.slider-nav-ev(aria-hidden='true')
                                        a.carousel-control-next(href='#sevCarousel', role='button', data-slide='next')
                                            //- span.carousel-control-next-icon( aria-hidden="true")
                                            span.sr-only Next
                                            i.fa.fa-2x.fa-angle-right.slider-nav-ev(aria-hidden='true')
                                    p
                                        ul
                                            li.text-left
                                                b Enterprise In-House sofware:
                                                | Having successfully running since 2008 several .NET click-once applications.
                                            li.text-left
                                                b Enterprise web plataforms:
                                                | Having Netsuite as the main source of data.
                                            li.text-left
                                                b Enterprise Mobile Apps:
                                                |  Android and IOS hybrid apps for the customers and in-house apps.
                                            li.text-left
                                                b Midsize enterprise company:
                                                | Having at least 5 subsidiaries I have gave support for the systems that currently give service to 150,000+ customers over Unites States, Mexico and Canada.
                                            li.text-left
                                                b Web services and APIs:
                                                | The systems are communicated efficiently to ensure reliable data.
                                            li.text-left
                                                b 7 years working in the company:
                                                |  Working full-time as Sr. Software Engineer since 2011.
                                    p
                                    h4.item-intro.text-muted Acomplisments:
                                    ol
                                        li.text-left
                                            | I design and implemented the IT infrastructure to mantain and keep the business running and growing since 2011.
                                        li.text-left
                                            | I delivered several tools that continue helping to customers, coworkers and company partners.
                                        li.text-left
                                            | I improved the legacy custom sofware in terms of security, reliability, performance, new features, design, fix bugs, customer acceptance, and more.
                                        li.text-left
                                            | Saving money by migrating all the legacy systesm to AWS, and by no depending a lot in 3rd-party consultants.
                                        li.text-left
                                            | Keeping up to date all the custom software implementations. (3rd-party deprecations, SSL upgrades, IRS changes, Legal changes...)
                                        li.text-left  Growing on the comapny brand.
                                        li.text-left  Customers satisfaction.
                                        li.text-left  Satisfaction of my superiors by my work.
                                    //- h6.text-left
                                        i
                                    p
                                    p
                                    h4.item-intro.text-muted Development Specifications:
                                    ul
                                        li.text-left
                                            b APIs:
                                            |  Twilio, Netsuite, AWS.
                                        li.text-left
                                            b Programming Languages:
                                            |  NodeJS, IONIC, AngularJS, SQL Server (Store Procedures, Triggers, Views, Funtions), MySql Aurora (with replicas), Google Firebase, GRUNT, .NET, C#, WPF, Xtra-repots, EmberJS, CSS, Python, jQuery Mobile, webix, HTML.
                                        li.text-left
                                            b Programming Approaches:
                                            |  MVC, MVVM, multi-thread, web-sockets, web-async, promises, deferred, real-time, shell scripting, reverse engineering, fail-over, unit-test, stress-test, jshint, micro-services, web services, oauth, cross-domain, SSL Cert, DNS Administration, web-services, erp-customizations (netsuite / odoo), batch processing, custom reporting, enterprise deployment.
                                        li.text-left
                                            b Repositories:
                                            |  GIT, SVN, BRZ.
                                        li.text-left
                                            b Amazon Web Services (AWS):
                                            |  Elastic Beanstalk, S3, RDS (replication), Cloud Front, Lambda, Gateway, Memchache, EC2, Load Balancing, Device Farm, Alarm, Security Groups, Data Migration, Amazon MQ, CloudWatch, Auto Scaling, IAM, Certificate Manager
                                        li.text-left
                                            b Deploy:
                                            |  AWS: Elastic Beanstalk, S3, RDS, Cloud-front, Lambda, Gateway, Memchache, EC2, Load Balancing, Device Farm, Alarm, Security Groups
                                    p
                                    ul.list-inline
                                        li
                                            | Date:
                                            i May 2011 - May 2018
                                        li
                                            | Client:
                                            i Signature EquipoVision, LLC
                                        li
                                            | Location:
                                            i Fresno, CA U.S.A
                                        li
                                            | Category:
                                            i Multilevel Marketing (MLM)
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fa.fa-times
                                        |                     Close
        // Modal 4
        #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        .lr
                            .rl
                    .container
                        .row
                            .col-lg-12.mx-auto
                                .modal-body
                                    // Project Details Go Here
                                    //- h2.text-uppercase Supermas MX
                                    p.item-intro.text-muted Open ERP Hardware Interfaace for Web Point of Sale (POS)
                                    //- img.img-fluid.d-block.mx-auto( src="img/portfolio/01-full.jpg", alt="")
                                    #rnCarouselSm.carousel.slide(data-ride='carousel')
                                        ol.carousel-indicators.carousel-indicators-supm
                                            li.active(data-target='#rnCarouselSm', data-slide-to='0')
                                            li(data-target='#rnCarouselSm', data-slide-to='1')
                                            li(data-target='#rnCarouselSm', data-slide-to='2')
                                            li(data-target='#rnCarouselSm', data-slide-to='3')
                                            li(data-target='#rnCarouselSm', data-slide-to='4')
                                            li(data-target='#rnCarouselSm', data-slide-to='5')
                                            li(data-target='#rnCarouselSm', data-slide-to='6')
                                            li(data-target='#rnCarouselSm', data-slide-to='7')
                                            li(data-target='#rnCarouselSm', data-slide-to='8')
                                            li(data-target='#rnCarouselSm', data-slide-to='9')
                                        .carousel-inner(role='listbox')
                                            .carousel-item.active
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/04-supermas-slide-1.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/04-supermas-slide-2.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/04-supermas-slide-3.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/04-supermas-slide-4.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/04-supermas-slide-5.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/04-supermas-slide-6.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/04-supermas-slide-7.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/04-supermas-slide-8.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/04-supermas-slide-9.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/04-supermas-slide-10.jpg', alt='')
                                        a.carousel-control-prev(href='#rnCarouselSm', role='button', data-slide='prev')
                                            //- span.carousel-control-prev-icon( aria-hidden="true")
                                            span.sr-only Previous
                                            i.fa.fa-2x.fa-angle-left.slider-nav-supm(aria-hidden='true')
                                        a.carousel-control-next(href='#rnCarouselSm', role='button', data-slide='next')
                                            //- span.carousel-control-next-icon( aria-hidden="true")
                                            span.sr-only Next
                                            i.fa.fa-2x.fa-angle-right.slider-nav-supm(aria-hidden='true')
                                    p
                                        code
                                            b SuperMas Communication Module
                                        |  integrates the communication between a web browser and the hardware necesary to run
                                        code
                                            b Point Of Sale (POS)
                                        |  stations in this case for grocery stores.
                                        ul
                                            li.text-left
                                                b Embedded Web Browser:
                                                |  .NET web browser to perform Kiosk mode, intercept keystrokes and send javscript events (to web POS) and hardware commands.
                                            li.text-left
                                                b Microserver:
                                                |  Microserver that intercepts web pos hardware request (print receipt, open cash drawer, validate double scans, comunicates the scale).
                                            li.text-left
                                                b Pole Display:
                                                |  Custom messages
                                            li.text-left
                                                b Receipt Printer:
                                                |  Custom receipt
                                            li.text-left
                                                b Scale:
                                                |  Comunicates in realtime the scale.
                                            li.text-left
                                                b Integrated Scale Scanner:
                                                |  Comunicates the integrated barcode scanner in a bidirectional way.
                                            li.text-left
                                                b Cash Drawer:
                                                |  Intercept keystroke to open the cash drawer and also intercepts web pos command (auto open mode).
                                    p
                                    h4.item-intro.text-muted Acomplisments:
                                    h6.text-left
                                        i
                                            | The company was able to work with a web based POS and a open source ERP system (OpenERP) to operate with a limited budget of time and resources. Many consultants try to accomplis the communication with the hardware specially with the scale but they failed at that time so, this solution accomplised what others did not. The implementation process and the research maded in a short period of time were worthed by the results obtained. This application is able to run without any crashes compared with others (Micros Retail)
                                    p
                                    p
                                    h4.item-intro.text-muted Development Specifications:
                                    ul
                                        li.text-left
                                            b APIs:
                                            |  OPOS Assemblies for .NET, OpenERP POS module.
                                        li.text-left
                                            b Programming Languages:
                                            |  C#, WPF, Python, Backbone, Javascript.
                                        li.text-left
                                            b Deploy:
                                            |  AWS EC2, Click-Once Application hosted on IIS server.
                                        li.text-left
                                            b Other:
                                            |  Multithreading, RealTime.
                                    p
                                    ul.list-inline
                                        li
                                            | Date:
                                            i March 2013
                                        li
                                            | Client:
                                            i Super Mercado Mas S.A de C.V.
                                        li
                                            | Location:
                                            i Puebla, México
                                        li
                                            | Category:
                                            i Grocery Stores
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fa.fa-times
                                        |                     Close
        // Modal 5
        #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        .lr
                            .rl
                    .container
                        .row
                            .col-lg-12.mx-auto
                                .modal-body
                                    // Project Details Go Here
                                    //- h2.text-uppercase Rinosnet
                                    p.item-intro.text-muted Media Distribution App
                                    //- img.img-fluid.d-block.mx-auto( src="img/portfolio/01-full.jpg", alt="")
                                    #evisionCarousel.carousel.slide(data-ride='carousel')
                                        ol.carousel-indicators.carousel-indicators-evis
                                            li.active(data-target='#evisionCarousel', data-slide-to='0')
                                            li(data-target='#evisionCarousel', data-slide-to='1')
                                            li(data-target='#evisionCarousel', data-slide-to='2')
                                            li(data-target='#evisionCarousel', data-slide-to='3')
                                            li(data-target='#evisionCarousel', data-slide-to='4')
                                            li(data-target='#evisionCarousel', data-slide-to='5')
                                            li(data-target='#evisionCarousel', data-slide-to='6')
                                            li(data-target='#evisionCarousel', data-slide-to='7')
                                            li(data-target='#evisionCarousel', data-slide-to='8')
                                            li(data-target='#evisionCarousel', data-slide-to='9')
                                            li(data-target='#evisionCarousel', data-slide-to='10')
                                            li(data-target='#evisionCarousel', data-slide-to='11')
                                            li(data-target='#evisionCarousel', data-slide-to='12')
                                            li(data-target='#evisionCarousel', data-slide-to='13')
                                        .carousel-inner(role='listbox')
                                            //- .carousel-item.active
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/05-evision-slide-1.jpg', alt='')
                                            .carousel-item.active
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/05-evision-slide-2.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/05-evision-slide-5.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/05-evision-slide-3.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/05-evision-slide-4.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/05-evision-slide-6.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/05-evision-slide-7.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/05-evision-slide-8.jpg', alt='')
                                        a.carousel-control-prev(href='#evisionCarousel', role='button', data-slide='prev')
                                            //- span.carousel-control-prev-icon( aria-hidden="true")
                                            span.sr-only Previous
                                            i.fa.fa-2x.fa-angle-left.slider-nav-evis(aria-hidden='true')
                                        a.carousel-control-next(href='#evisionCarousel', role='button', data-slide='next')
                                            //- span.carousel-control-next-icon( aria-hidden="true")
                                            span.sr-only Next
                                            i.fa.fa-2x.fa-angle-right.slider-nav-evis(aria-hidden='true')
                                    p
                                        | "e-Vision" is an audio distribution mobile app
                                        ul
                                            li.text-left
                                                b Android and IOS:
                                                |  Compatible with most of smart phones platforms.
                                            li.text-left
                                                b A mobile app for all members on the organization:
                                                |  Supporting 150,000+ active listeners.
                                            li.text-left
                                                b Share propietary audios:
                                                | The licences are simulating what you are doing as you have a phisicall audio on hand.
                                            li.text-left
                                                b Integrated with "EquipoVision":
                                                |  It is a complementary tool for all of the members on EquipoVision Organization.
                                    p
                                    h4.item-intro.text-muted Acomplisments:
                                    ol
                                        li.text-left  Customers satisfaction.
                                        li.text-left  Growing on the comapny brand.
                                        li.text-left
                                            | The company creates an inovative way to purchase and distribute audios in a face to face way.
                                        li.text-left
                                            | Solid Sofware Infrastructure that makes this project as the base core for several projects in EquipoVision.
                                    //- h6.text-left
                                        i
                                    p
                                    p
                                    h4.item-intro.text-muted Development Specifications:
                                    ul
                                        li.text-left
                                            b APIs:
                                            |  Twilio, Netsuite, AWS S3.
                                        li.text-left
                                            b Programming Languages:
                                            |  NodeJS, IONIC, AngularJS, MySql Aurora (with replicas), Google Firebase, GRUNT
                                        li.text-left
                                            b Deploy:
                                            |  AWS Elastic Beanstalk, S3, AWS RDS
                                    p
                                    ul.list-inline
                                        li
                                            | Date:
                                            i February 2017
                                        li
                                            | Client:
                                            i Signature EquipoVision, LLC
                                        li
                                            | Location:
                                            i Fresno, CA U.S.A
                                        li
                                            | Category:
                                            i Multilevel Marketing (MLM)
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fa.fa-times
                                        |                     Close
        // Modal 6
        #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        .lr
                            .rl
                    .container
                        .row
                            .col-lg-12.mx-auto
                                .modal-body
                                    // Project Details Go Here
                                    //- h2.text-uppercase Rinosnet
                                    p.item-intro.text-muted IT services specialized in systems development for creditor businesses and institutions
                                    //- img.img-fluid.d-block.mx-auto( src="img/portfolio/01-full.jpg", alt="")
                                    #isionemxCarousel.carousel.slide(data-ride='carousel')
                                        ol.carousel-indicators.carousel-indicators-isi
                                            li.active(data-target='#isionemxCarousel', data-slide-to='0')
                                            li(data-target='#isionemxCarousel', data-slide-to='1')
                                            li(data-target='#isionemxCarousel', data-slide-to='2')
                                            li(data-target='#isionemxCarousel', data-slide-to='3')
                                            li(data-target='#isionemxCarousel', data-slide-to='4')
                                            //- li(data-target='#isionemxCarousel', data-slide-to='5')
                                            //- li(data-target='#isionemxCarousel', data-slide-to='6')
                                            //- li(data-target='#isionemxCarousel', data-slide-to='7')
                                            //- li(data-target='#isionemxCarousel', data-slide-to='8')
                                            //- li(data-target='#isionemxCarousel', data-slide-to='9')
                                            //- li(data-target='#isionemxCarousel', data-slide-to='10')
                                            //- li(data-target='#isionemxCarousel', data-slide-to='11')
                                            //- li(data-target='#isionemxCarousel', data-slide-to='12')
                                            //- li(data-target='#isionemxCarousel', data-slide-to='13')
                                        .carousel-inner(role='listbox')
                                            .carousel-item.active
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/06-isionemx-slide-1.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/06-isionemx-slide-2.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/06-isionemx-slide-3.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/06-isionemx-slide-4.jpg', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/06-isionemx-slide-5.jpg', alt='')
                                            //- .carousel-item
                                            //-     img.d-block.img-fluid.slider-pf(src='img/portfolio/06-isionemx-slide-6.jpg', alt='')
                                            //- .carousel-item
                                            //-     img.d-block.img-fluid.slider-pf(src='img/portfolio/06-isionemx-slide-7.jpg', alt='')
                                            //- .carousel-item
                                            //-     img.d-block.img-fluid.slider-pf(src='img/portfolio/06-isionemx-slide-8.jpg', alt='')
                                        a.carousel-control-prev(href='#isionemxCarousel', role='button', data-slide='prev')
                                            //- span.carousel-control-prev-icon( aria-hidden="true")
                                            span.sr-only Previous
                                            i.fa.fa-2x.fa-angle-left.slider-nav-isi(aria-hidden='true')
                                        a.carousel-control-next(href='#isionemxCarousel', role='button', data-slide='next')
                                            //- span.carousel-control-next-icon( aria-hidden="true")
                                            span.sr-only Next
                                            i.fa.fa-2x.fa-angle-right.slider-nav-isi(aria-hidden='true')
                                    p
                                        //- | "e-Vision" is an audio distribution mobile app
                                        ul
                                            li.text-left
                                                b Custom Development / Support:
                                                |
                                            li.text-left
                                                b System Migrations:
                                                |  Several web platform convertions from Microsoft ASP to J2EE.
                                    p
                                    h4.item-intro.text-muted Acomplisments:
                                    ol
                                        li.text-left  Customer satisfaction.
                                        li.text-left  Service-Oriented Architecture.
                                        li.text-left  High quality application development.
                                        li.text-left  We build an exelent team and working environment.
                                    //- h6.text-left
                                        i
                                    p
                                    p
                                    h4.item-intro.text-muted Development Specifications:
                                    ul
                                        li.text-left
                                            b Enterprise Development Concepts:
                                            |  MVC, Servlets, SOAP, JSON, Web Services, ERP Integrations, Workflows, Distribuited Architectures.
                                        li.text-left
                                            b  Programming Languages:
                                            |  J2EE, PL-SQL, JAVA, HTML, JavaScript, jQuery, AJAX
                                    p
                                    ul.list-inline
                                        li
                                            | Date:
                                            i July 2007 - August 2010
                                        li
                                            | Client:
                                            i Internacianal de Sistemas de Im&aacute;gen
                                        li
                                            | Location:
                                            i Guadalajara, Jalisco M&eacute;xico
                                        li
                                            | Category:
                                            i IT Services especialized in financial institutions.
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fa.fa-times
                                        |                     Close
        #portfolioModal7.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        .lr
                            .rl
                    .container
                        .row
                            .col-lg-12.mx-auto
                                .modal-body
                                    // Project Details Go Here
                                    //- h2.text-uppercase Rinosnet
                                    p.item-intro.text-muted DercoFoods Mobile App​​
                                    //- img.img-fluid.d-block.mx-auto( src="img/portfolio/01-full.jpg", alt="")
                                    #dercoCarousel.carousel.slide(data-ride='carousel')
                                        ol.carousel-indicators.carousel-indicators-derco
                                            li.active(data-target='#dercoCarousel', data-slide-to='0')
                                            li(data-target='#dercoCarousel', data-slide-to='1')
                                            li(data-target='#dercoCarousel', data-slide-to='2')
                                            //- li(data-target='#dercoCarousel', data-slide-to='3')
                                            //- li(data-target='#dercoCarousel', data-slide-to='4')
                                        .carousel-inner(role='listbox')
                                            .carousel-item.active
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/07-derco-slide-1.png', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/07-derco-slide-2.png', alt='')
                                            .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/07-derco-slide-3.png', alt='')
                                            //- .carousel-item
                                                img.d-block.img-fluid.slider-pf(src='img/portfolio/07-derco-slide-4.png', alt='')
                                            
                                        a.carousel-control-prev(href='#dercoCarousel', role='button', data-slide='prev')
                                            //- span.carousel-control-prev-icon( aria-hidden="true")
                                            span.sr-only Previous
                                            i.fa.fa-2x.fa-angle-left.slider-nav-derco(aria-hidden='true')
                                        a.carousel-control-next(href='#dercoCarousel', role='button', data-slide='next')
                                            //- span.carousel-control-next-icon( aria-hidden="true")
                                            span.sr-only Next
                                            i.fa.fa-2x.fa-angle-right.slider-nav-derco(aria-hidden='true')
                                    p
                                        ul
                                            li.text-left
                                                b A mobile app to track shipments, notify changes of status on the shipments (containers) and delivery contracts in PDF format.
                                                |
                                            li.text-left
                                                b Used in China, India, Dubai, and the U.S.A
                                                
                                    
                                    p
                                    p
                                    h4.item-intro.text-muted Development Specifications:
                                    ul
                                        li.text-left
                                            b Enterprise Development Concepts:
                                            | Backend Develpment over VPN,
                                            | Biometrics features,
                                            | Embedded PDF Reader,
                                            | Realtime Data-binding,
                                            | Push Notifications, and more
                                        li.text-left
                                            b  Programming Languages:
                                            |  Angular, Python FLASK, Cordova, Firebase
                                    p
                                    ul.list-inline
                                        li
                                            | Date:
                                            i Jun 2021 - August 2021
                                        li
                                            | Client:
                                            i Derco Associates, Inc.
                                        li
                                            | Location:
                                            i Fresno, CA
                                        li
                                            | Category:
                                            i Supplier/Trading Firm.
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fa.fa-times
                                        |                     Close
        // Bootstrap core JavaScript
        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
        // Plugin JavaScript
        script(src='vendor/jquery-easing/jquery.easing.min.js')
        // Contact form JavaScript
        script(src='js/jqBootstrapValidation.js')
        script(src='js/contact_me.min.js')
        // Custom scripts for this template
        script(src='js/myprofile.min.js')
        //- script(type='text/javascript').
            setTimeout(function() {
            //- $('#portfolioModal6').modal('show');
            },100);
